.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}

#TRYIT {
	font-style: oblique;
	font-weight: 100;
	color:blue;
	background-color:palegoldenrod;
	width: 100px;
	height: 75px;
	font-size: 25px;
}

